html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.formBox {
  direction: rtl;
  margin-top: 20px;
  padding-top: 15px;
  background-color: blanchedalmond;
  min-height: 500px;
}
.fileInput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
