.main {
  /* background: #0f2027; 
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); 
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); */
  background-color: rgb(199, 221, 221);
}

.fileInput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}
